**/.DS_Store
NSynth Project/
__pycache__
tensorflow_cache

!**/.gitkeep
local_model
style_ref/*
midway/*
output/*

to_remove

magenta
Music-Visualizer
style-transfer-video-processor
real-time-style-transfer

*.yml